<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Zabble</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
        <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
        <meta name="author" content="Zabble" />
        <meta name="email" content="Zabble" />
        <meta name="website" content="https://zabble.me" />
        <meta name="Version" content="v0.1" />
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
        <!-- Slider -->               
        <link rel="stylesheet" href="css/tiny-slider.css"/> 
        <!-- Main Css -->
        <link href="css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="css/colors/default.css" rel="stylesheet" id="color-opt">

    </head>

    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->

        <!-- Navbar STart -->
        <header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="/">
                    <img src="images/logo-zabble-dark.png" height="150" class="logo-light-mode" alt="">
                    <img src="images/logo-zabble-light.png" height="150" class="logo-dark-mode" alt="">
                </a>
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->

        <!-- <section class="bg-half-170 d-table w-100">
            <div class="container">
                <div class="row mt-5 align-items-center position-relative" style="z-index: 1;">
                    <div class="col-lg-6">
                        <div class="title-heading text-center text-lg-start">
                            <h4 class="heading fw-bold mb-3 mt-3">Zabble</h4>
                            <p class="para-desc text-muted mx-auto mx-lg-start mb-0">We are Zabble, a startup focused on creating virtual sessions for people to study, code, and keep each other accountable or just hangout.</p>
                            <div class="mt-3"></div>
                                <div class="para-desc text-muted mt-3 mx-auto mx-lg-start mb-0" style="text-align: center;">
                                    <a href="https://discord.gg/uUcWtaqjyn" class="btn btn-primary me-2 mt-2" target = "_blank">Join our Discord</a>
                                </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 pt-2 mt-lg-0 pt-lg-0">
                        <div class="card border-0 shadow rounded ms-lg-4 overflow-hidden">
                            <div class="d-flex p-2 bg-light justify-content-between align-items-center">
                                <div>
                                    <a href="javascript:void(0)" class="text-danger"><i class="mdi mdi-circle"></i></a>
                                    <a href="javascript:void(0)" class="text-warning"><i class="mdi mdi-circle"></i></a>
                                    <a href="javascript:void(0)" class="text-success"><i class="mdi mdi-circle"></i></a>
                                </div>

                                <small class="fw-bold"><i class="mdi mdi-circle-medium text-success"></i> Landrick</small>
                            </div>
                            <div class="bg-light px-2 position-relative">
                                <video class="w-100 rounded" controls autoplay loop>
                                    <source src="images/video/call.mp4" type="video/mp4">
                                </video>

                                <div class="position-absolute top-0 start-0">
                                    <div class="mt-2 ms-3">
                                        <span class="badge bg-danger">LIVE</span>
                                        <small class="mb-0 text-white title-dark">4 Attendance</small>
                                    </div>
                                </div>
                            </div>

                            <div class="p-2 bg-light">
                                <p class="text-muted mb-0"><b>Note:</b> This video is only for demo purposes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="bg-half-170  d-table w-100" id="home">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7">
                        <div class="title-heading mt-4">
                            <h1 class="heading mb-3">Get Productive <span class="text-primary">Together</span> </h1>
                            <p class="para-desc text-muted">Whether you are learning piano, doing meditation, completing your unfinished homework, or practicing card tricks. Achieve your goals together with thousands of people through our 24 x 7 virtual sessions.</p>
                            <!-- <div class="mt-4">
                                <a href="page-contact-one.html" class="btn btn-primary mt-2 mr-2"><i class="mdi mdi-email"></i> Get Started</a>
                                <a href="documentation.html" class="btn btn-outline-primary mt-2"><i class="mdi mdi-book-outline"></i> Documentation</a>
                            </div> -->
                            <div class="mt-4">
                                <!-- <div class="para-desc text-muted mt-3 mx-auto mx-lg-start mb-0" style="text-align: center;"> -->
                                    <a href="https://discord.gg/uUcWtaqjyn" class="btn btn-primary me-2 mt-2" target = "_blank">Join our Discord</a>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <img src="images/zabble.svg" alt="">
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->

        <!-- Start -->
        <section class="section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center mb-4 pb-2">
                            <h4 class="title mb-4">What is Zabble?</h4>
                            <!-- <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> -->
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row justify-content-center flex">
                    <div class="col-xl-10">
                        <div class="row flex">
                            <div class="col-md-6 mt-4 pt-2">
                                <div class="d-flex features feature-clean p-4 bg-white shadow rounded" style="height: 100%;">
                                    <div class="icons text-primary d-block text-center rounded">
                                        <i class="uil uil-comment-verify d-block rounded h3 mb-0"></i>
                                    </div>
                                    <div class="flex-1 content ms-4">
                                        <h5 class="mb-1"><aclass="text-dark">Achieve your Goals Together</a></h5>
                                        <p class="text-muted mb-0">Whether you are practicing guitar, doing yoga, or preparing for an exam. Get up, turn on your camera, and do it live together with thousands of people.
                                        </p>
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-md-6 mt-4 pt-2">
                                <div class="d-flex features feature-clean p-4 bg-white shadow rounded"  style="height: 100%;">
                                    <div class="icons text-primary d-block text-center rounded">
                                        <i class="uil uil-database-alt d-block rounded h3 mb-0"></i>
                                    </div>
                                    <div class="flex-1 content ms-4">
                                        <h5 class="mb-1"><a class="text-dark">Be Accountable and Productive</a></h5>
                                        <p class="text-muted mb-0">Achieve your goals by being accountable to thousands of people that are doing the same thing together with you</p>
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-md-6 mt-4 pt-2 fixed-height">
                                <div class="d-flex features feature-clean p-4 bg-white shadow rounded"  style="height: 100%;">
                                    <div class="icons text-primary d-block text-center rounded">
                                        <i class="uil uil-image d-block rounded h3 mb-0"></i>
                                    </div>
                                    <div class="flex-1 content ms-4">
                                        <h5 class="mb-1"><a class="text-dark">Gamify your Experience of Achieving Goals</a></h5>
                                        <p class="text-muted mb-0">Write your goals, track them, healthily compete with others and climb the rank of the leaderboard</p>
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-md-6 mt-4 pt-2 fixed-height">
                                <div class="d-flex features feature-clean p-4 bg-white shadow rounded"  style="height: 100%;">
                                    <div class="icons text-primary d-block text-center rounded">
                                        <i class="uil uil-video d-block rounded h3 mb-0"></i>
                                    </div>
                                    <div class="flex-1 content ms-4">
                                        <h5 class="mb-1"><a class="text-dark">Hangout with People from Around the World</a></h5>
                                        <p class="text-muted mb-0">We regularly organise fun activities like movie nights, music competitions, and guided programmes for all of you</p>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                           
                        </div><!--end row-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <!-- <div class="container mt-100 mt-60">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="card rounded border-0 overflow-hidden">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="position-relative">
                                        <a href="javascript:void(0)"><img src="images/video/01.jpg" class="img-fluid" alt=""></a>
    
                                        <div class="position-absolute bottom-0 start-50 translate-middle-x">
                                            <div class="mb-3">
                                                <a href="javascript:void(0)" class="btn btn-pills btn-icon btn-danger"><i class="uil uil-phone icons"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="row g-0">
                                        <div class="col-md-6 col-4">
                                            <div class="position-relative">
                                                <a href="javascript:void(0)"><img src="images/video/02.jpg" class="img-fluid" alt=""></a>
            
                                                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                                                    <div class="mb-3">
                                                        <a href="javascript:void(0)" class="btn btn-pills btn-sm btn-icon btn-primary"><i class="uil uil-comment icons"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-md-6 col-4">
                                            <div class="position-relative">
                                                <a href="javascript:void(0)"><img src="images/video/03.jpg" class="img-fluid" alt=""></a>
            
                                                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                                                    <div class="mb-3">
                                                        <a href="javascript:void(0)" class="btn btn-pills btn-sm btn-icon btn-primary"><i class="uil uil-comment icons"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-md-6 col-4">
                                            <div class="position-relative">
                                                <a href="javascript:void(0)"><img src="images/video/05.jpg" class="img-fluid" alt=""></a>
            
                                                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                                                    <div class="mb-3">
                                                        <a href="javascript:void(0)" class="btn btn-pills btn-sm btn-icon btn-primary"><i class="uil uil-comment icons"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-4">
                                            <div class="position-relative">
                                                <a href="javascript:void(0)"><img src="images/video/04.jpg" class="img-fluid" alt=""></a>
            
                                                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                                                    <div class="mb-3">
                                                        <a href="javascript:void(0)" class="btn btn-pills btn-sm btn-icon btn-primary"><i class="uil uil-comment icons"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-md-6 col-4">
                                            <div class="position-relative">
                                                <a href="javascript:void(0)"><img src="images/video/06.jpg" class="img-fluid" alt=""></a>
            
                                                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                                                    <div class="mb-3">
                                                        <a href="javascript:void(0)" class="btn btn-pills btn-sm btn-icon btn-primary"><i class="uil uil-comment icons"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-md-6 col-4">
                                            <div class="position-relative">
                                                <a href="javascript:void(0)"><img src="images/video/07.jpg" class="img-fluid" alt=""></a>
            
                                                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                                                    <div class="mb-3">
                                                        <a href="javascript:void(0)" class="btn btn-pills btn-sm btn-icon btn-primary"><i class="uil uil-comment icons"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                        <div class="section-title ms-lg-5">
                            <h4 class="title mb-4">Live on Zabble</h4>
                            <p class="text-muted">The concept that makes us unique is the fact that we want to create a live environment that you can join anytime you want from anywhere you want. A whole world of fellow Zabblers is just one click away. Join us in creating this 24/7 live community by joining our discord!</p>
                            <ul class="list-unstyled text-muted">
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title mb-4">How does it work?</h4>
                        <!-- <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> -->
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item rounded shadow">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button border-0 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Join our Discord Server
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    Join our Discord by accepting the invite from <a href="https://discord.gg/uUcWtaqjyn">here</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item rounded shadow mt-2">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Write your Goals
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    Write the goals that you are working on for the day in the "to-do-list" channel of our Discord server
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item rounded shadow mt-2">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Find the Right Group of People
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse border-0 collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    Find the Voice Channel (VC) that is related to your goals under the "JUST ZABBLE" section and join that VC
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item rounded shadow mt-2">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Get Things Done Together
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse border-0 collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    Once you join a VC, you can turn on your camera and start working with the company of other Zabblers
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <img src="images/illustrator/faq.svg" alt="">
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

        <!-- End -->
        <!-- Footer Start -->
        <!-- <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                        <a href="#" class="logo-footer">
                            <img src="images/logo-light.png" height="24" alt="">
                        </a>
                        <p class="mt-4">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                        </ul> -->
                        <!--end icon-->
                    <!-- </div> -->
                    <!--end col-->
                    
                    <!-- <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-light footer-head">Company</h5>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="page-aboutus.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About us</a></li>
                            <li><a href="page-services.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Services</a></li>
                            <li><a href="page-team.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Team</a></li>
                            <li><a href="page-pricing.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Pricing</a></li>
                            <li><a href="page-portfolio-modern.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Project</a></li>
                            <li><a href="page-jobs.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Careers</a></li>
                            <li><a href="page-blog-grid.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Blog</a></li>
                            <li><a href="auth-cover-login.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Login</a></li>
                        </ul>
                    </div> -->
                    <!--end col-->
                    
                    <!-- <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-light footer-head">Usefull Links</h5>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="page-terms.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms of Services</a></li>
                            <li><a href="page-privacy.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li>
                            <li><a href="documentation.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Documentation</a></li>
                            <li><a href="changelog.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Changelog</a></li>
                            <li><a href="components.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Components</a></li>
                        </ul>
                    </div> -->
                    <!--end col-->

                    <!-- <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-light footer-head">Newsletter</h5>
                        <p class="mt-4">Sign up and receive the latest tips via email.</p>
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="foot-subscribe mb-3">
                                        <label class="form-label">Write your email <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="mail" class="fea icon-sm icons"></i>
                                            <input type="email" name="email" id="emailsubscribe" class="form-control ps-5 rounded" placeholder="Your email : " required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-grid">
                                        <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <!--end col-->
                <!-- </div>end row -->
            <!-- </div>end container -->
        <!-- </footer>end footer -->
        <footer class="footer footer-bar mt-100">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="text-sm-start">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Zabble </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        

        <!-- javascript -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- SLIDER -->
        <script src="js/tiny-slider.js "></script>
        <!-- Icons -->
        <script src="js/feather.min.js"></script>
        <!-- Main Js -->
        <script src="js/plugins.init.js"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
        <script src="js/app.js"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
    </body>
</html>