  <!-- Footer Start -->
  <script>
      function mySubmitFunction(e) {
        e.preventDefault();
        fetch("/subscribe", {
      
            // Adding method type
            method: "POST",
                
            // Adding body or contents to send
            body: JSON.stringify({
                email: document.getElementById('emailsubscribe').value
            }),
                
            // Adding headers to the request
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            
        // Converting to JSON
        .then(response => {
            if(!response.ok){
              
                document.getElementById( 'errormessage' ).style.display = 'block';
            }
            else{
                document.getElementById( 'successmessage' ).style.display = 'block';
            }
        
        
        })
                
        return false;
     }
  </script>
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="#" class="logo-footer">

                    <h5 class="text-light footer-head">Zabble</h5>
                  
                   
                </a>
                <p class="mt-4">We are Zabble, a startup focused on creating virtual sessions for people to do things together.</p>
                <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                    <li class="list-inline-item"><a href="https://www.facebook.com/codepartner.me" target="blank" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/code.partner/" target="blank" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/code_partner" target="blank" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                    <!-- <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li> -->
                </ul><!--end icon-->
            </div><!--end col-->
            
            <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">More info</h5>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="/about" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About us</a></li>
                    <li><a href="/contact" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Contact us</a></li>
            
                </ul>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">Useful Links</h5>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="/terms" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms of Services</a></li>
                    <li><a href="/privacy" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li>
                   
                </ul>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">Newsletter</h5>
                <p class="mt-4">Sign up and receive the latest updates via email.</p>
                <form action = "/subscribe" onsubmit="return mySubmitFunction(event)" method = "POST">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="foot-subscribe mb-3">
                                <label class="form-label">Write your email <span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                    <input type="email" name="email" id="emailsubscribe" class="form-control ps-5 rounded" placeholder="Your email : " required>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-grid">
                                <input type="submit" id="submitsubscribe" class="btn btn-soft-primary" value="Subscribe">
                                <p class = "mt-4" id='successmessage' style = "display: none;">Thank You for subscribing</p>
                                <p class = "mt-4" id='errormessage' style = "display: none;">Please try again later!</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-start">
                    <p class="mb-0">©2021 Zabble. All rights reserved.</p>
                </div>
            </div><!--end col-->

        
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<script type="text/javascript">
    (function(e,t,o,n,p,r,i){e.visitorGlobalObjectAlias=n;e[e.visitorGlobalObjectAlias]=e[e.visitorGlobalObjectAlias]||function(){(e[e.visitorGlobalObjectAlias].q=e[e.visitorGlobalObjectAlias].q||[]).push(arguments)};e[e.visitorGlobalObjectAlias].l=(new Date).getTime();r=t.createElement("script");r.src=o;r.async=true;i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)})(window,document,"https://diffuser-cdn.app-us1.com/diffuser/diffuser.js","vgo");
    vgo('setAccount', '90965394');
    vgo('setTrackByDefault', true);

    vgo('process');
</script>