 <!-- Navigation Menu-->   
 <ul class="navigation-menu">
    <li><a href="/" class="sub-menu-item">Home</a></li>
    <li><a href="/about" class="sub-menu-item">About Us</a></li>
    <!-- <li><a href="/faq" class="sub-menu-item">FAQs</a></li> -->
    <li><a href="/contact" class="sub-menu-item">Contact Us</a></li>
  

</ul><!--end navigation menu-->